.drag {
    height: 30px;
    width: 80px;
    position:absolute;

}
.bricks{  
    height: 400px;
    width: 200px;
    
}
.walls{  
    height: 350px;
    width: 100%;    
}
.ground{
    height: 50px;
    width: 100%;
    background-color: gray;
}
